body {
    margin: 0px;
    overflow: hidden;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size:25px;
    text-align:center;
    text-align:center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    color:#444;
}
h1 {
    margin: auto 5px; 
    font-size: 40px;
}
.center{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    width: 400px;
    text-align: center;    
}
#two {
    color: #aaa;
    font-size: 1.4em;
}
#two a{
    color: #aaa;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}
#two a:hover{
    color: #333;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
     text-decoration: none;
}
